<div class="container">

  <div class="job-header">
    <h1 ng-bind="job.title"></h1>
    <small>Publish by {{job.publisher}}, 
    the {{job.created | date:'MM/yy'}} </small>
  </div>

  <h4 class="job-section">Informations</h4>

  <dl class="dl-horizontal job-infos">
    <dt>Salary</dt>
    <dd>{{job.price}}</dd>

    <dt>Duration</dt>
    <dd>{{job.duration}}</dd>

    <dt>Start</dt>
    <dd>{{job.start}}</dd>
  </dl>

  <h4 class="job-section">Description</h4>
  <pre class="description" ng-bind="job.description"></pre>

  <h4 class="job-section">Apply</h4>

  <div class="alert alert-success" ng-if="applySaved">Candidature envoyée</div>

  <form role="form" ng-submit="submitApply()" name="applyForm">
    <div class="form-group">
      <label class="full-width">
        Name
        <small class="form-error" >Invalid Name</small>
        <input type="text" class="form-control" name="name" ng-model="apply.name" required>
      </label>
    </div>

    <div class="form-group">
      <label class="full-width">
        Email
        <small ng-show="applyForm.email.$invalid && applyForm.email.$touched" class="form-error">Invalid Email</small>
        <input type="email" class="form-control" name="email" ng-model="apply.email" required>
      </label>
    </div>

    <div class="form-group">
      <label class="full-width">
        Message
        <textarea class="form-control" rows="5" name="message" ng-model="apply.message"></textarea>
      </label>
    </div>

    <input type="submit" ng-disabled="applyForm.$invalid" class="btn btn-success" value="Envoyer">
  </form>



</div>